.bar{
    background-color: #c4d7ff;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width:100%;
    --main-color: #000000;
    --sub-color: #393838;
    --bg-color: #e8e8e8;
    --accent-color: #242C88;
}

.card-link{
    width:70%;
    margin-left: 10%;
}

.card-container {
    display: flex;
    align-items: center;  /* vertically center card and buttons */
    gap: 15px;            /* space between card and buttons */
    margin-bottom: 20px;  /* optional spacing between rows */
}

.controle {
    display: flex;
    flex-direction: column; /* buttons stacked vertically, or row if you prefer */
    gap: 20px;
}

.controle button {
    padding: 20px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    transition: background-color 0.2s;
}

.controle button:hover {
    opacity: 0.6;
}

.izmeni{
    background-color: #27ae60;
}
.obrisi{
    background-color: red;
}

.card__img{
    height:40px;
}

