<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>SkriPtica</title>
    {% endblock %}
    {% block style %}
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    {% endblock %}
    <link rel="icon" type="image/png" href="{% static 'images/SkripticaLogoRaw.png' %}">

</head>
<body>
<nav class="nav">
    <div class="logo-box">
        <img src="{% static 'images/SkriPticaLogoPNG.png' %}" alt="Logo">
    </div>

    <div class="nav-links">
        <a class="btn" href="{% url 'materials:search_page' %}">Materijali</a>
        <a class="btn" href="{% url 'materials:saved_scripts' %}">Sacuvani</a>
        <a class="btn" href="{% url 'materials:add_script' %}">Dodaj</a>
        <a class="btn" href="#">Profil</a>

        <div class="line-top"></div>
        <div class="line-bottom"></div>
    </div>
</nav>
{% block content %}
    
{% endblock %}

{% block script %}

{% endblock %}
</body>
</html>