{% extends 'index.html' %}
{% load static %}
{% block title %}
    <title>Read</title>
{% endblock %}
{% block style %}
    <link rel="stylesheet" href= "{% static 'css/script.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
{% endblock %}
{% block content %}
    <div class="MainContentCentered">
        <!--<h2>{{script.Naziv}}</h2> -->
        <h2>{{ script.naziv }}</h2>

        <h4>Opis</h4>
        <div class="ScriptDesc">
            <p class="ScriptDescParagraph">
                {{script.opis}}
            </p>
        </div>
        <embed src="/media/{{ script.fajl }}" type="application/pdf" class="PdfViewer">
        <div class="ButtonsRead">
            <form method = post>
                {% csrf_token %}
                <button class="ButtonPDFReview" name="action" value="rezimiraj" type="submit">Rezimiraj</button>
                <button class="ButtonPDFReview"
                        type="submit"
                        name="action"
                        value="{% if is_saved %}zaboravi{% else %}sacuvaj{% endif %}">

                        {% if is_saved %}
                            Zaboravi
                        {% else %}
                            Sacuvaj
                        {% endif %}

                </button>
                {% if is_saved %}
                <div >

                </div>
                {% else %}
                <div class="focus">
                    <label class="CheckboxContainer">
                    <input type="checkbox" name="focus" id="focus">
                    <span class="CustomCheckbox"></span>
                    Focus
                    </label>
                </div>
                {% endif %}
            </form>
        </div>
        {% if summary %}
        <div class="ScriptDesc">
            <h4>AI Rezime</h4>
            <p class="ScriptDescParagraph">
                {{ summary }}
            </p>
        </div>
        {% endif %}
        <!--
        <textarea name="rezime" class="textAreaOpis" placeholder="Rezime"></textarea>
        -->

        <div class="rating">
          <input type="radio" id="star5" name="rating" value="5" />
          <label for="star5"></label>
          <input type="radio" id="star4" name="rating" value="4" />
          <label for="star4"></label>
          <input type="radio" id="star3" name="rating" value="3" />
          <label for="star3"></label>
          <input type="radio" id="star2" name="rating" value="2" />
          <label for="star2"></label>
          <input type="radio" id="star1" name="rating" value="1" />
          <label for="star1"></label>
        </div>

        <form method="post">
            {% csrf_token %}
            <textarea name="komentar" class="KomentarTextArea" placeholder="Ostavite komentar..."></textarea>
            <br>
            <button type="submit" class="ButtonSubmit" name="action" value="komentar">Submit</button>
        </form>



        <h2>Komentari</h2>
        <div>
             {% for komentar in commentsForScript %}
            <div class="JedanKomentar">
                <h4>{{ komentar.idkor.kor_ime }}</h4>
                <p>{{ komentar.tekst }}</p>
            </div>
            {% empty %}
                <p>Nema komentara za ovu skriptu.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}